*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
*:focus{
  outline: none;
}
*:focus-visible{
  outline: none;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input, button, textarea, select {
  font: inherit;
  padding: 0;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
iframe:focus{
  outline: none;
}
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  appearance: none;
}
a {
  text-decoration: none;
  color:#ffffff;
}
a:hover{
  color:#dfff58;
}
.flexi {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 400px;
}
@media (min-width:768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width:992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width:1200px) {
  .container {
    max-width: 1200px;
  }
 
}
@media (min-width:1400px) {
  .container {
    max-width: 1470px;
  }
}
@media (min-width:1700px) {
  .container {
    max-width: 1470px;
  }
}

